.about-us {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 27px;
}

.about-us__title {
  margin-bottom: 32px;
}

.about-us__list {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}

.about-us__item {
  margin-bottom: 28px;
}

.about-us__icon-wrapper {
  width: 55px;
  height: 38px;
  text-align: center;
  margin-bottom: 17px;

  svg {
    vertical-align: bottom;
    fill: $accent-color;
  }
}

@media (min-width: 768px) {
  .about-us {
    width: 670px;
    padding-top: 48px;
    padding-bottom: 29px;
  }

  .about-us__title {
    margin-bottom: 48px;
  }

  .about-us__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 22px;
  }

  .about-us__item {
    width: 50%;
    margin-bottom: 55px;
  }

  .about-us__item--handmade {
    order: 2;
  }

  .about-us__item--price {
    order: 3;
  }

  .about-us__item--support {
    order: 4;
  }

  .about-us__item--like {
    order: 5;
  }

  .about-us__item--package {
    order: 6;
  }
}

@media (min-width: 1150px) {
  .about-us {
    width: 700px;
    padding-top: 61px;
    padding-bottom: 35px;
  }
}
