.about-us {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 27px;
}

.about-us__title {
  margin-bottom: 30px;
}

.about-us__list {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}

.about-us__item {
  margin-bottom: 30px;

  &::before {
    content: "";
    display: block;
    width: 55px;
    height: 37px;
    margin-bottom: 17px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.about-us__item--eco::before {
  background-image: url("../img/icon-feature-flower.svg");
}

.about-us__item--price::before {
  background-image: url("../img/icon-feature-money.svg");
}

.about-us__item--like::before {
  background-image: url("../img/icon-feature-heart.svg");
}

.about-us__item--handmade::before {
  background-image: url("../img/icon-feature-ball.svg");
}

.about-us__item--support::before {
  background-image: url("../img/icon-feature-rocket.svg");
}

.about-us__item--package::before {
  background-image: url("../img/icon-feature-gift.svg");
}

@media (min-width: 768px) {
  .about-us {
    width: 670px;
    padding-top: 48px;
    padding-bottom: 24px;
  }

  .about-us__title {
    margin-bottom: 48px;
  }

  .about-us__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 22px;
  }

  .about-us__item {
    width: 50%;
    margin-bottom: 58px;
  }

  .about-us__item--handmade {
    order: 2;
  }

  .about-us__item--price {
    order: 3;
  }

  .about-us__item--support {
    order: 4;
  }

  .about-us__item--like {
    order: 5;
  }

  .about-us__item--package {
    order: 6;
  }
}

@media (min-width: 1150px) {
  .about-us {
    width: 700px;
    padding-top: 61px;
    padding-bottom: 30px;
  }
}
