.additional-menu {
  display: none;
}

@media (min-width: 1150px) {
  .additional-menu {
    display: flex;
  }

  .additional-menu__link {
    display: block;
    min-width: 185px;
    padding: 20px 0;
    font-size: 15px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    transition: 0.25s;

    &[href]:hover {
      color: rgba(0, 0, 0, 0.6);
    }

    &[href]:focus {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  .additional-menu__link--sale {
    padding-left: 35px;
  }
}
