.button {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
  color: $light-text-color;
  border: 2px solid $light-text-color;
  padding: 14px;
  cursor: pointer;
  transition: 0.25s;

  &:hover,
  &:focus {
    background-color: $light-text-color;
    color: #ffffff;
  }

  &:active {
    background-color: $light-text-color;
    color: rgba(#ffffff, 0.3);
  }
}
