.contacts {
  padding-top: 45px;
  margin-bottom: 39px;
  text-align: center;
  background-repeat: repeat-x;
  background-position-x: 8px;
  background-position-y: top;
  background-size: 320px 7px;
  background-image: url("../img/bg-zigzag-line.svg");
}

.contacts__info-wrapper {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7px;
  text-align: left;
}

.contacts__title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 28px;
}

.contacts__list {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
  line-height: 30px;
  color: $light-text-color;
}

.contacts__key {
  width: 77px;
  white-space: nowrap;
  padding-bottom: 29px;
  vertical-align: top;
}

.contacts__value {
  padding-bottom: 29px;
}

.contacts__email {
  display: inline-block;
  color: $light-text-color;
  text-decoration: none;
  border-bottom: 1px solid $accent-color;
  transition: 0.25s;

  &:hover,
  &:focus {
    color: $accent-darker-color;
    border-bottom-color: $accent-darker-color;
  }

  &:active {
    color: rgba($accent-darker-color, 0.3);
    border-bottom-color: rgba($accent-darker-color, 0.1);
  }
}

.contacts__map-wrapper {
  position: relative;
  margin-bottom: 39px;
}

.contacts__map-container {
  height: 457px;
  position: relative;
  z-index: 2;
}

.contacts__map-image {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.contacts__write {
  width: 260px;
  font-size: 18px;
}

@media (min-width: 768px) {
  .contacts {
    padding-top: 61px;
    margin-bottom: 57px;
    background-size: 772px 17px;
    background-position-x: 17px;
  }

  .contacts__info-wrapper {
    width: 670px;
    margin-bottom: 27px;
  }

  .contacts__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 32px;

    &::after {
      content: "";
      width: 51px;
      height: 82px;
      background-repeat: no-repeat;
      background-image: url("../img/icon-flag.svg");
    }
  }

  .contacts__list {
    font-size: 17px;
  }

  .contacts__list tbody {
    display: flex;
  }

  .contacts__list tr {
    width: 50%;
  }

  .contacts__map-wrapper {
    margin-bottom: 55px;
  }

  .contacts__write {
    width: 230px;
    font-size: 17px;
  }
}

@media (min-width: 1150px) {
  .contacts {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 105px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    position: relative;
    padding-top: 94px;
    background-size: 1050px 23px;
    background-position-x: 26px;
  }

  .contacts__info-wrapper {
    width: 50%;
    margin-bottom: 0;
    padding-bottom: 102px;
  }

  .contacts__title {
    justify-content: flex-start;
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 34px;

    &::after {
      order: -1;
      width: 175px;
      background-position: center top;
    }
  }

  .contacts__list {
    width: calc(100% - 175px);
    margin-left: 175px;
  }

  .contacts__list tbody {
    display: table;
  }

  .contacts__map-wrapper {
    width: 50%;
    margin-bottom: 0;
  }

  .contacts__write {
    position: absolute;
    bottom: 0;
    left: 175px;
  }
}
