.copyright__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;
  transition: 0.25s;

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &:hover .copyright__image,
  &:focus .copyright__image {
    fill: $accent-darker-color;
  }

  &:active .copyright__image {
    fill: $accent-darker-color;
    opacity: 0.3;
  }
}

.copyright__text {
  font-size: 19px;
  font-weight: bold;
  margin-right: 30px;
}

.copyright__image {
  fill: $accent-color;
  transition: 0.25s;
}
