.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;
}

.copyright__text {
  font-size: 19px;
  font-weight: bold;
  margin-right: 25px;
}

@media (min-width: 768px) {
  .copyright__link {
    justify-content: flex-end;
  }
}
