.hit {
  padding-top: 25px;
  padding-bottom: 42px;
  font-size: 15px;
  color: $light-text-color;
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: auto 6px;
  background-image: url("../img/bg-zigzag-line.svg");
}

.hit__wrapper {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.hit__header {
  margin-bottom: 20px;
}

.hit__name {
  color: #000000;
  margin-bottom: 5px;
}

.hit__title {
  display: block;
  color: $accent-color;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}

.hit__content {
  display: flex;
  flex-direction: column;
}

.hit__info {
  margin-bottom: 28px;
}

.hit__description {
  margin-top: 0;
  margin-bottom: 18px;
}

.hit__characteristics {
  width: 100%;
  border-collapse: collapse;
}

.hit__key,
.hit__value {
  border-bottom: 1px solid #ececec;
  padding: 7px 0 8px;
}

.hit__key {
  width: 98px;
}

.hit__price {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .hit {
    padding-top: 45px;
    padding-bottom: 70px;
    background-size: auto 17px;
  }

  .hit__wrapper {
    width: 670px;
  }

  .hit__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .hit__name {
    margin-bottom: 0;
  }

  .hit__title {
    width: 125px;
    text-align: center;
    line-height: 1;
  }

  .hit__content {
    position: relative;
  }

  .hit__info {
    width: 290px;
    margin-bottom: 0;
  }

  .hit__photo {
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .hit__description {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 35px;
  }

  .hit__price {
    width: 292px;
    font-size: 20px;
    margin-top: 56px;
    margin-bottom: 34px;
  }

  .hit__order {
    width: 292px;
  }
}

@media (min-width: 1150px) {
  .hit {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 125px;
    padding-bottom: 95px;
  }

  .hit__wrapper {
    width: auto;
  }

  .hit__header {
    justify-content: flex-start;
    position: relative;
    z-index: 1;
    margin-bottom: 47px;
  }

  .hit__name {
    order: 2;
  }

  .hit__title {
    margin-left: 20px;
    margin-right: 30px;
  }

  .hit__info {
    margin-left: 175px;
  }

  .hit__description {
    margin-bottom: 48px;
  }

  .hit__price {
    margin-top: 110px;
    margin-left: 175px;
  }

  .hit__order {
    margin-left: 175px;
  }
}
