.main-nav__toggle {
  display: none;
}

.main-nav__note {
  display: none;
}

@media (min-width: 768px) {
  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 670px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-nav__note {
    display: block;
    font-size: 15px;
    color: $light-text-color;
    margin: 0;
  }
}

@media (min-width: 1150px) {
  .main-nav {
    width: 1050px;
  }
}
