.manufacture {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ececec;
  margin-bottom: 58px;
  transition: 0.25s;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.manufacture__title {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
  margin: 24px 34px;

  &::before {
    content: "";
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/icon-video.svg");
    flex-shrink: 0;
    margin-right: 23px;
  }
}

.manufacture__video-wrapper {
  position: relative;
  margin-left: -1px;
  margin-right: -1px;
}

.manufacture__video-poster {
  width: 100%;
}

.manufacture__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 101px;
  height: 77px;
  border: none;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../img/icon-play.svg");
  cursor: pointer;
  transition: 0.4s;

  &:hover,
  &:focus {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

.manufacture__content-wrapper {
  padding: 27px 33px 32px;
}

.manufacture__text {
  color: $light-text-color;
  margin-top: 0;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .manufacture {
    width: 670px;
    display: flex;
    flex-direction: column;
    margin-bottom: 63px;
  }

  .manufacture__video-wrapper {
    order: -1;
    margin-top: -1px;
    border-bottom: 1px solid #ececec;
  }

  .manufacture__title {
    font-size: 20px;
    margin: 34px 42px 28px;

    &::before {
      margin-right: 33px;
    }
  }

  .manufacture__content-wrapper {
    padding: 0 42px 45px;
  }

  .manufacture__text {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 35px;
  }
}

@media (min-width: 1150px) {
  .manufacture {
    width: 1050px;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: calc(682px + 20px);
    min-height: 455px;
    position: relative;
    margin-bottom: 105px;
  }

  .manufacture__video-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    border-bottom: none;
    width: 682px;
  }

  .manufacture__title {
    flex-direction: column;
    align-items: flex-start;
    width: 230px;
    margin: 0 0 33px;

    &::before {
      margin-right: 0;
      margin-bottom: 22px;
    }
  }

  .manufacture__content-wrapper {
    width: 230px;
    padding: 0;
  }

  .manufacture__text {
    margin-bottom: 46px;
  }
}
