.manufacture {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 55px;
}

.manufacture__title {
  font-size: 17px;
  font-weight: bold;
}

.manufacture__text {
  color: $light-text-color;
}
