.page-header__logo-wrapper {
  padding: 22px 30px;
  border-bottom: 1px solid #ececec;
  position: relative;
  text-align: center;
}

.page-header__logo-link {
  display: inline-block;
  transition: 0.25s;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:focus {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .page-header {
    position: relative;
    z-index: 1;
  }

  .page-header__logo-wrapper {
    border-bottom: none;
    padding: 0;
    order: -2;
  }

  .page-header__logo {
    width: 113px;
    height: 46px;
  }
}

@media (min-width: 1150px) {
  .page-header__logo {
    width: 149px;
    height: 72px;
  }
}
