.page-footer {
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.page-footer__logo-wrapper {
  display: none;
}

.page-footer__social {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 25px;
  padding-bottom: 27px;
}

.page-footer__copyright {
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: center;
}

@media (min-width: 768px) {
  .page-footer {
    padding-top: 48px;
    padding-bottom: 54px;
  }

  .page-footer__wrapper {
    width: 670px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo-wrapper {
    display: block;
    width: 30%;
  }

  .page-footer__logo-link {
    display: inline-block;
    vertical-align: bottom;

    &[href]:hover .page-footer__logo,
    &[href]:focus .page-footer__logo {
      fill: $accent-darker-color;
    }

    &[href]:active .page-footer__logo {
      fill: $accent-darker-color;
      opacity: 0.3;
    }
  }

  .page-footer__logo {
    display: block;
    transition: 0.25s;
  }

  .page-footer__social {
    width: 30%;
    padding-top: 7px;
    padding-bottom: 0;
    border-bottom: none;
  }

  .page-footer__copyright {
    width: 30%;
    padding-top: 7px;
    padding-bottom: 0;
    text-align: right;
  }
}

@media (min-width: 1150px) {
  .page-footer__wrapper {
    width: 1050px;
  }
}
