.products {
  padding-top: 30px;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.products__item {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .products {
    padding-top: 79px;
    width: 670px;
  }

  .products__item {
    margin-bottom: 54px;
  }
}

@media (min-width: 1150px) {
  .products {
    padding-top: 130px;
    width: 1050px;
  }

  .products__list {
    display: flex;
    flex-wrap: wrap;
  }

  .products__item {
    width: calc((100% - 100px) / 3);
    margin-right: 50px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
