.product__title-link {
  color: #000000;
  text-decoration: none;
}

.product__title {
  font-size: 17px;
  font-weight: bold;
}

.product__description {
  color: $light-text-color;
}

.product__price {
  font-size: 15px;
  font-weight: bold;
}
