.product {
  &:hover .product__info {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active .product__info {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.product__photo-link {
  display: block;
}

.product__photo {
  width: 100%;
}

.product__info {
  padding: 27px;
  border: 1px solid #ececec;
  transition: 0.25s;
}

.product__title-link {
  display: block;
  color: #000000;
  text-decoration: none;
  transition: 0.25s;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.product__title {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}

.product__description {
  color: $light-text-color;
  margin-top: 7px;
  margin-bottom: 0;
}

.product__order {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ececec;
  margin-top: 22px;
  padding-top: 21px;
}

.product__price {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.product__buy {
  &:hover .product__buy__icon,
  &:focus .product__buy__icon {
    fill: $accent-color;
    opacity: 1;
  }

  &:active .product__buy__icon {
    fill: $accent-color;
    opacity: 0.3;
  }
}

.product__buy span {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.product__buy__icon {
  display: block;
  opacity: 0.2;
  transition: 0.25s;
}

@media (min-width: 768px) {
  .product {
    display: flex;
  }

  .product__photo-link {
    width: 50%;
  }

  .product__info {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .product__title {
    font-size: 20px;
  }

  .product__description {
    font-size: 15px;
    margin-top: 8px;
  }

  .product__order {
    margin-top: auto;
    padding-top: 24px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .product__price {
    font-size: 17px;
  }
}

@media (min-width: 1150px) {
  .product {
    flex-direction: column;
  }

  .product__photo-link {
    width: 100%;
  }

  .product__info {
    width: 100%;
    flex-grow: 1;
  }

  .product__description {
    margin-bottom: 17px;
  }

  .product__order {
    margin-left: 0;
  }
}
