.reviews {
  padding-top: 22px;
  padding-bottom: 44px;
}

.reviews__content-wrapper {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.reviews__title {
  margin-bottom: 25px;
}

.reviews__list {
  margin-bottom: 32px;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  color: $light-text-color;
  margin-top: 0;
  margin-bottom: 27px;
}

.reviews__author-name {
  font-size: 17px;
  font-weight: bold;
  color: #000000;
  margin-top: 0;
  margin-bottom: 5px;
}

.reviews__author-nickname {
  font-size: 17px;
  color: $light-text-color;
  margin: 0;
}

.reviews__arrows {
  display: flex;
}

.reviews__arrow {
  width: 50%;
  border: 1px solid #ececec;
  height: 52px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/icon-right-arrow.svg");
  cursor: pointer;
  transition: 0.25s;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__arrow--prev {
  border-right: none;
  background-image: url("../img/icon-left-arrow.svg");
}

.reviews__write {
  font-size: 18px;
  margin-top: 38px;
}

@media (min-width: 768px) {
  .reviews {
    padding-top: 76px;
    padding-bottom: 118px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 350px auto;
    background-image: url("../img/review@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__content-wrapper {
    width: 670px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .reviews__title {
    margin-bottom: 8px;
  }

  .reviews__wrapper {
    position: relative;
    margin-top: 42px;
    order: 3;
  }

  .reviews__list {
    margin-bottom: 0;
  }

  .reviews__text {
    font-size: 17px;
    margin-bottom: 57px;
  }

  .reviews__author-name {
    font-size: 18px;
    margin-bottom: 7px;
  }

  .reviews__arrows {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 175px;
  }

  .reviews__arrow {
    border: none;
  }

  .reviews__write {
    font-size: 17px;
    margin-top: 0;
    width: auto;
    min-width: 175px;
  }
}

@media (min-width: 1150px) {
  .reviews {
    max-width: 1050px;
    padding-top: 70px;
    padding-bottom: 166px;
  }

  .reviews__content-wrapper {
    width: auto;
    padding-left: 175px;
  }

  .reviews__text {
    margin-bottom: 38px;
  }

  .reviews__author-name {
    font-size: 17px;
    margin-bottom: 5px;
  }

  .reviews__arrows {
    width: 175px;
  }
}
