.site-menu__item {
  border-bottom: 1px solid #ececec;
}

.site-menu__link {
  display: block;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  padding-left: 75px;
  padding-right: 30px;
  padding-top: 27px;
  padding-bottom: 27px;
}

@media (min-width: 768px) {
  .site-menu {
    display: flex;
  }

  .site-menu__item {
    border-bottom: none;
  }

  .site-menu__link {
    width: 167px;
    padding: 20px 0;
    font-size: 15px;
  }
}

@media (min-width: 1150px) {
  .site-menu {
    order: -3;
    width: 400px;
    margin-right: auto;
  }

  .site-menu__link {
    min-width: 185px;
    width: auto;
    font-size: 17px;
    padding: 32px 0;
  }

  .site-menu__link--knitting {
    border-left: 1px solid #ececec;
    padding-left: 35px;
  }
}
