.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;

  &:hover .social__link-icon,
  &:focus .social__link-icon {
    fill: $accent-darker-color;
  }

  &:active .social__link-icon {
    fill: $accent-darker-color;
    opacity: 0.3;
  }
}

.social__link-icon {
  display: block;
  transition: 0.25s;
}
