.user-menu__item {
  border-bottom: 1px solid #ececec;
}

.user-menu__link {
  position: relative;
  display: block;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  padding-left: 75px;
  padding-right: 30px;
  padding-top: 27px;
  padding-bottom: 27px;
  transition: 0.25s;

  &[href]:hover,
  &[href]:focus {
    color: rgba(0, 0, 0, 0.6);

    & .user-menu__link-icon {
      fill: $accent-color;
      opacity: 1;
    }
  }

  &[href]:active {
    color: rgba(0, 0, 0, 0.3);

    & .user-menu__link-icon {
      fill: $accent-color;
      opacity: 0.3;
    }
  }
}

.user-menu__link-icon {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  fill: #231f20;
  opacity: 0.2;
  transition: 0.25s;
}

@media (min-width: 768px) {
  .user-menu {
    display: flex;
    margin-left: auto;
    order: -1;
  }

  .user-menu__item {
    display: flex;
    border-left: 1px solid #ececec;
    border-bottom: none;
  }

  .user-menu__link {
    padding: 32px 0;
  }

  .user-menu__link--search {
    width: 82px;
  }

  .user-menu__link--search span {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .user-menu__link--cart {
    width: auto;
    padding-left: 84px;
  }
}

@media (min-width: 1150px) {
  .user-menu {
    width: 400px;
    justify-content: flex-end;
  }
}
