@import "normalize.scss";
@import "vars.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/ul-reset.scss";
@import "blocks/button.scss";
@import "blocks/section-title.scss";
@import "blocks/page-header.scss";
@import "blocks/intro.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-menu.scss";
@import "blocks/additional-menu.scss";
@import "blocks/user-menu.scss";
@import "blocks/page-main.scss";
@import "blocks/hit.scss";
@import "blocks/about-us.scss";
@import "blocks/reviews.scss";
@import "blocks/contacts.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/order-popup.scss";
@import "blocks/products.scss";
@import "blocks/product.scss";
@import "blocks/manufacture.scss";
@import "blocks/order-form.scss";

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
